<pre>
미완파일
RunAll시 시도 독립변수 163개에 대한 변수선택방법별 중요도가 데이터프레임으로 저장
[변수중요도_감염병.csv]

사용된 변수선택방법은 linear regression의 coef, corr,FI_RFC,FI_XGB,RFE,Kbest
lgbm은 중요도가 계산되지 않아 보완 필요
적합한 알고리즘을 찾아야함
</pre>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import missingno as msno
import numpy  as np
import seaborn as sns
%matplotlib inline

path = './data/'
pd.options.display.max_rows = 150
pd.options.display.max_columns = 350
plt.rc('font',family='Malgun Gothic')
plt.rcParams['axes.unicode_minus'] = False

In [2]:
sido = pd.read_csv(path+'sido_imp_10.csv', encoding='cp949')

## 데이터모양확인 및 split

In [3]:
sido.shape

(17, 173)

In [4]:
sido_y = sido.iloc[:,-7:]
sido_x = sido.iloc[:,3:-7]
sido_name = sido.iloc[:,:3]

In [5]:
sido_y.shape, sido_x.shape,sido_name.shape

((17, 7), (17, 163), (17, 3))

## 표준화 (MinmaxScaler)
* 다른 스케일러 robust_scale(), maxabs_scale(), scale(), 
* minmaxscaler() 범위조정(0,1)
* 로 만들어진 데이터셋도 시도해봐야한다.

In [6]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
#독립변수에 일괄적용
sido_x_scaled = scaler.fit_transform(sido_x)
#sigungu_x_scaled = scaler.fit_transform(sigungu_x)

In [7]:
#scale결과 array를 데이터프레임으로 만들고 열이름을 새로 지정해준다.
#sigungu_x_scaled = pd.DataFrame(data = sigungu_x_scaled)
#sigungu_x_scaled.columns = sigungu_x.columns
sido_x_scaled = pd.DataFrame(data = sido_x_scaled)
sido_x_scaled.columns = sido_x.columns

In [8]:
sido_x_scaled.shape#, sigungu_x_scaled.shape

(17, 163)

## Feature Importance_RFC

In [9]:
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

In [10]:
#importance
rf = RandomForestClassifier(n_estimators=10).fit(sido_x_scaled, sido.감염병)
feature_importance_rf = pd.DataFrame(data=np.c_[sido_x_scaled.columns.values,rf.feature_importances_],
                                     columns=['feature','FI_RFC'])
feature_importance_rf
#feature_importance_rf.sort_values('FI',ascending=False,inplace=True)

         feature     FI_RFC
0          1인가구수          0
1      5대범죄 발생건수  0.0738462
2      가스공급설비 면적          0
3       가스사고발생건수          0
4    가해(타살) 사망자수          0
..           ...        ...
158      화재 피해자수          0
159       화재구조실적          0
160    화재사망자(환산)          0
161     화재피해 경감액          0
162      황사 발생건수          0

[163 rows x 2 columns]

## Feature Importance_XGB

In [11]:
#importance... xgboost
xg = XGBClassifier(max_depth=10, n_estimators=200, learning_rate=0.01).fit(sido_x_scaled, sido.화재)
feature_importance_xg = pd.DataFrame(data=np.c_[sido_x_scaled.columns.values,xg.feature_importances_],
                                     columns=['feature','FI_XGB'])
#feature_importance_rf.sort_values('FI',ascending=False,inplace=True)
feature_importance_xg

         feature     FI_XGB
0          1인가구수  0.0349947
1      5대범죄 발생건수          0
2      가스공급설비 면적          0
3       가스사고발생건수          0
4    가해(타살) 사망자수          0
..           ...        ...
158      화재 피해자수          0
159       화재구조실적          0
160    화재사망자(환산)          0
161     화재피해 경감액          0
162      황사 발생건수          0

[163 rows x 2 columns]

## Feature Importance_LGBM

In [12]:
import copy
#lgbm은 아스키 코드값만 입력받기 때문에 한글을 다 숫자로 바뀌주기
lgbm_sido = b = copy.deepcopy(sido_x_scaled) 
lgbm_sido.columns = list(range(163))

In [13]:
lgbm= LGBMClassifier(n_estimators=200,num_boost_round =500,learning_rate =0.01).fit(lgbm_sido, sido.화재)
feature_importance_lg = pd.DataFrame(data=np.c_[lgbm_sido.columns.values,lgbm.feature_importances_],
                                     columns=['feature','FI_LGB'])
#feature_importance_rf.sort_values('FI',ascending=False,inplace=True)
feature_importance_lg

C:\Anaconda3\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

     feature  FI_LGB
0          0       0
1          1       0
2          2       0
3          3       0
4          4       0
..       ...     ...
158      158       0
159      159       0
160      160       0
161      161       0
162      162       0

[163 rows x 2 columns]

# RFE

In [14]:
#importance
from sklearn.feature_selection import RFE
select = RFE(RandomForestClassifier(n_estimators=10),n_features_to_select =10)###################
select.fit(sido_x_scaled, sido.감염병)
feature_importance_rfe = pd.DataFrame(data=np.c_[sido_x_scaled.columns.values,select.get_support()],
                                     columns=['feature','RFE'])
#feature_importance_rfe.sort_values('RFE',ascending=False,inplace=True)
feature_importance_rfe

         feature    RFE
0          1인가구수  False
1      5대범죄 발생건수  False
2      가스공급설비 면적  False
3       가스사고발생건수  False
4    가해(타살) 사망자수  False
..           ...    ...
158      화재 피해자수  False
159       화재구조실적  False
160    화재사망자(환산)  False
161     화재피해 경감액  False
162      황사 발생건수  False

[163 rows x 2 columns]

# Logistic Regression
regression coefficient

In [15]:
from sklearn.linear_model import LinearRegression
model_fire = LinearRegression().fit(sido_x_scaled, sido.감염병)

In [16]:
#coefficient
feature_importance_lr = pd.DataFrame(np.c_[sido_x_scaled.columns.values,model_fire.coef_.ravel()],
                                    columns=['feature','lr'])
#feature_importance_lr.sort_values('lr', ascending=False, inplace=True)
feature_importance_lr

         feature           lr
0          1인가구수   -0.0574369
1      5대범죄 발생건수   -0.0111413
2      가스공급설비 면적   -0.0284417
3       가스사고발생건수  -0.00989687
4    가해(타살) 사망자수   -0.0884516
..           ...          ...
158      화재 피해자수    0.0860666
159       화재구조실적   -0.0743369
160    화재사망자(환산)    0.0574918
161     화재피해 경감액  0.000820019
162      황사 발생건수   -0.0627146

[163 rows x 2 columns]

# SelectKBest

In [17]:
from sklearn.feature_selection import SelectKBest, chi2
k_best = SelectKBest(chi2, k=10)#####################
k_best.fit(sido_x_scaled, sido.감염병)
feature_importance_k = pd.DataFrame(np.c_[sido_x_scaled.columns.values,k_best.get_support()],
                                    columns=['feature','Kbest'])
#feature_importance_k.sort_values('Kbest', ascending=False, inplace=True)

feature_importance_k

         feature  Kbest
0          1인가구수  False
1      5대범죄 발생건수  False
2      가스공급설비 면적  False
3       가스사고발생건수  False
4    가해(타살) 사망자수  False
..           ...    ...
158      화재 피해자수  False
159       화재구조실적  False
160    화재사망자(환산)  False
161     화재피해 경감액  False
162      황사 발생건수  False

[163 rows x 2 columns]

# corr

In [18]:
sumdf = pd.concat([sido_x_scaled, sido.감염병], axis=1)
corr_df = pd.DataFrame(sumdf.corr(method='pearson')['감염병']).reset_index()
corr_df.sort_values(by='감염병', ascending=False).drop(163, axis=0)
corr_df.rename(columns={'감염병':'corr','index':'feature'},inplace=True)
corr_df

         feature      corr
0          1인가구수  0.156977
1      5대범죄 발생건수 -0.410720
2      가스공급설비 면적 -0.209224
3       가스사고발생건수 -0.190529
4    가해(타살) 사망자수 -0.191561
..           ...       ...
159       화재구조실적 -0.326593
160    화재사망자(환산)  0.314535
161     화재피해 경감액  0.022664
162      황사 발생건수 -0.312528
163          감염병  1.000000

[164 rows x 2 columns]

# 합치기

In [19]:
df=feature_importance_lr.merge(corr_df).merge(feature_importance_rf)
df = df.merge(feature_importance_xg).merge(feature_importance_rfe).merge(feature_importance_k)
#df.sort_values('Kbest', ascending=False, inplace=True)

In [20]:
a = df.loc[:,'lr'].apply(lambda x : abs(x))
b = df.loc[:,'corr'].apply(lambda x : abs(x))
df['lr_abs'] = a
df['corr_abs'] = b
df

,feature,lr,corr,FI_RFC,FI_XGB,RFE,Kbest,lr_abs,corr_abs
0,1인가구수,-0.0574369,0.156977,0,0.0349947,False,False,0.057437,0.156977
1,5대범죄 발생건수,-0.0111413,-0.410720,0.0738462,0,False,False,0.011141,0.410720
2,가스공급설비 면적,-0.0284417,-0.209224,0,0,False,False,0.028442,0.209224
3,가스사고발생건수,-0.00989687,-0.190529,0,0,False,False,0.009897,0.190529
4,가해(타살) 사망자수,-0.0884516,-0.191561,0,0,False,False,0.088452,0.191561
...,...,...,...,...,...,...,...,...,...
158,화재 피해자수,0.0860666,0.208485,0,0,False,False,0.086067,0.208485
159,화재구조실적,-0.0743369,-0.326593,0,0,False,False,0.074337,0.326593
160,화재사망자(환산),0.0574918,0.314535,0,0,False,False,0.057492,0.314535
161,화재피해 경감액,0.000820019,0.022664,0,0,False,False,0.000820,0.022664
162,황사 발생건수,-0.0627146,-0.312528,0,0,False,False,0.062715,0.312528

In [21]:
df.to_csv(path + '변수중요도_감염병.csv',encoding='cp949',index=False)