<pre>
결측치의 세부사항을 확인한다. output되는 파일은 없다.

롱포맷으로 만든 시도테이블에 대해
어느 지역에서 결측치가 발생했는지 확인한다.
결측치 확인을 위해 사용한 함수는 
    * find_nan: 지정한 컬럼값에 대한 모든 시도의 값을 보여줘 'NaN'값을 찾을 수 있다.
    * draw_graph: 지정한 컬럼값에 대한 모든시도의 분포를 보여준다.
    
타당한 imputation의 방법으로는
    1. 과거경향 평균
    2. 직접 통계데이터 찾기
    3. 해당 시도 소속 시군구데이터들의 평균.
    4. 유사한 시도의 평균값. - 기준: 인접시도, 인구, 면적
    
과거경향 imputation을 위해 경향을 확인하는 함수는
    * find_trend: 특정 시도에 대한 특정 컬럼의 2008~2015경향을 볼 수 있다.
    * draw_graph_trend: 특정 시도에 대한 특정 컬럼의 경향을 그래프로 볼 수 있다.
</pre>

In [11]:
import pandas as pd
import seaborn as sns
path = './data/'
import matplotlib.pyplot as plt
%matplotlib inline
plt.rc('font',family='Malgun Gothic')
plt.rcParams['axes.unicode_minus'] = False

In [12]:
sido = pd.read_csv(path+'sido_2014.csv', encoding='cp949')

In [13]:
sido_w = pd.read_csv(path+'sido_wide.csv', encoding='cp949')

In [14]:
sido_y = sido.iloc[:,-7:]
sido_x = sido.iloc[:,3:-7]
sido_name = sido.iloc[:,:3]

In [15]:
sido.shape, sido_y.shape, sido_x.shape, sido_name.shape, sido_w.shape

((17, 331), (17, 7), (17, 321), (17, 3), (132, 324))

In [16]:
column = ''
def find_nan(column=column, sido_w=sido_w):
    df = sido_w.loc[(sido_w.년도==2014),['년도','시도','지역',column]]
    return df
def find_trend(sido, column=column, sido_w=sido_w):
    df2 = sido_w.loc[sido_w.시도==sido,['년도','시도','지역',column]]
    return df2
def draw_graph(column=column):
    fig,ax = plt.subplots(ncols=2,figsize=(8,2))
    sns.distplot(find_nan(column)[column].dropna(), ax=ax[0])
    sns.boxplot(x=find_nan(column)[column], data=find_nan(column), ax=ax[1])
def draw_graph_trend(sido, column=column):
    fig,ax = plt.subplots(ncols=2,figsize=(8,2))
    sns.distplot(find_trend(sido,column)[column].dropna(), ax=ax[0])
    sns.boxplot(x=find_trend(sido,column)[column], data=find_trend(sido,column), ax=ax[1])

In [18]:
#교통사고사망자수(고속도로) 제주도 -- 0으로 채운다  
column= '교통사고사망자수(고속도로)'
find_nan(column)
find_trend('제주특별자치도',column)

       년도       시도            지역  교통사고사망자수(고속도로)
13   2008  제주특별자치도  2008_제주특별자치도             NaN
29   2009  제주특별자치도  2009_제주특별자치도             0.0
45   2010  제주특별자치도  2010_제주특별자치도             0.0
62   2011  제주특별자치도  2011_제주특별자치도             0.0
78   2012  제주특별자치도  2012_제주특별자치도             0.0
95   2013  제주특별자치도  2013_제주특별자치도             NaN
112  2014  제주특별자치도  2014_제주특별자치도             NaN
129  2015  제주특별자치도  2015_제주특별자치도             NaN

In [19]:
column= '감염병 발생건수'
find_nan(column)

       년도       시도            지역  감염병 발생건수
98   2014      강원도      2014_강원도  24.19172
99   2014      경기도      2014_경기도  14.03148
100  2014     경상남도     2014_경상남도  16.13464
101  2014     경상북도     2014_경상북도  13.13235
102  2014    광주광역시    2014_광주광역시  17.79471
103  2014    대구광역시    2014_대구광역시  16.31364
104  2014    대전광역시    2014_대전광역시  19.53926
105  2014    부산광역시    2014_부산광역시  15.37574
106  2014    서울특별시    2014_서울특별시   7.56533
107  2014  세종특별자치시  2014_세종특별자치시       NaN
108  2014    울산광역시    2014_울산광역시  22.72413
109  2014    인천광역시    2014_인천광역시  16.32415
110  2014     전라남도     2014_전라남도  19.65738
111  2014     전라북도     2014_전라북도  21.76229
112  2014  제주특별자치도  2014_제주특별자치도  30.12768
113  2014     충청남도     2014_충청남도  19.85709
114  2014     충청북도     2014_충청북도  12.10632