In [1]:
from pyproj import Proj, transform
import numpy as np
import pandas  as pd

# Projection 정의
# UTM-K
proj_UTMK = Proj('+proj=tmerc +lat_0=38 +lon_0=127.5 +k=0.9996 +x_0=1000000 +y_0=2000000 +ellps=bessel +units=m +no_defs +towgs84=-115.80,474.99,674.11,1.16,-2.31,-1.63,6.43')
proj_WGS84 = Proj('+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs')

# Wgs84 경도/위도, GPS사용 전지구 좌표

# 좌표 변환 Example

In [2]:
# UTM-K -> WGS84
x1, y1 = 953932,1952054
x2, y2 = transform(proj_UTMK,proj_WGS84,x1,y1)
print(x2,y2)

126.97618565071986 37.569448309551234

In [7]:
# WGS84 -> UTM-K 샘플
x1, y1 = 127, 37.5
x2, y2 = transform(proj_WGS84, proj_UTMK, x1, y1)
print(x2,y2)

955994.1919986713 1944337.6077971128

# DataFrame 여러 좌표 변환 Example

In [4]:
# x, y 컬럼을 이용하여 UTM-K좌표를 WGS84로 변환한 Series데이터 반환
def transform_utmk_to_w84(df):
    return pd.Series(transform(proj_UTMK, proj_WGS84, df['x'], df['y']), index=['x', 'y'])

In [5]:
df_xy = pd.DataFrame([['A', 961114.519726,1727112.269174],
                                        ['B', 940934.895125,1685175.196487],
                                        ['C', 1087922.228298,1761958.688262]
                                    ], columns=['id', 'x', 'y'])
df_xy

  id             x             y
0  A  9.611145e+05  1.727112e+06
1  B  9.409349e+05  1.685175e+06
2  C  1.087922e+06  1.761959e+06

In [6]:
df_xy[['x_w84', 'y_w84']] = df_xy.apply(transform_utmk_to_w84, axis=1)
df_xy

  id             x             y       x_w84      y_w84
0  A  9.611145e+05  1.727112e+06  127.068894  35.541981
1  B  9.409349e+05  1.685175e+06  126.849319  35.162866
2  C  1.087922e+06  1.761959e+06  128.471575  35.852994